.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 5vh;
  z-index: 1000;
}

.App-logo {
  height: 10vmin;
}

.App-link {
  color: #61dafb;
}

.nav-all {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 3.5vh;
  margin-left: 10vh;
  z-index: 999;
  color: #f8f9f9;
  z-index: 1000;
}
.nav-topics {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 3.5vh;
  margin-right: 10vh;
  z-index: 999;
  color: #f8f9f9;
  z-index: 1000;
}
.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  z-index: 1000;
}

.main-content {
  margin-bottom: 5vh;
  position: relative;
  z-index: 1;
}

.article-card {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.article-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.comment-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10vh;
  margin-right: 5vh;
  z-index: 2;
}

.post-comment-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 15vh;
  margin-right: 5vh;
  z-index: 2;
}

.comment-list {
  position: relative;
}

.post-comment .username-input {
  width: 25ch;
  margin-bottom: 1rem;
}

.post-comment .comment-input {
  width: 100%;
}

.post-comment .submit-button {
  margin-top: 1rem;
}

